@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");
html {
  scroll-behavior: smooth;
}

:root {
  --button-width: 2.5rem;
  --button-height: calc(var(--button-width) * .8);
  --rectangle-height: calc(var(--button-width) *.1);
  --rectangle-radius: calc(var(--button-width) *.04);
  --translate: calc(var(--button-width) *.17);
  --transition: all .3s ease-in-out;
  --my-black: #1a1a1a;
  --my-green: #00A97F;
  --my-blue: #348587;
  color: #1f1e1e;
}

body {
  background: var(--my-black);
  margin: 0;
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
}

.navbar {
  overflow: hidden;
  top: 0px;
  overflow-x: hidden;
  background: transparent;
  padding: 1em;
  margin: 0;
}

.navbar .logo {
  z-index: 2;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.2em;
}

.navbar .logo span {
  color: white;
  font-weight: 100;
}

.navbar .logo span.end {
  font-weight: bold;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  overflow: hidden;
}

.navbar .hamburger {
  overflow-x: hidden;
  z-index: 3;
  position: relative;
  width: var(--button-width);
  height: var(--button-height);
  border: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
  margin: 0;
}

.navbar .hamburger .rectangle {
  position: absolute;
  height: var(--rectangle-height);
  background-color: white;
  border-radius: var(--rectangle-radius);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.navbar .hamburger .rectangle--small {
  width: calc(var(--button-width) / 2);
}

.navbar .hamburger .rectangle--top {
  top: 0;
  left: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.navbar .hamburger .rectangle--top.open {
  -webkit-transform: translateX(var(--translate)) rotate(45deg);
          transform: translateX(var(--translate)) rotate(45deg);
}

.navbar .hamburger .rectangle--middle {
  top: 50%;
  left: 0;
  width: var(--button-width);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar .hamburger .rectangle--middle.open {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.navbar .hamburger .rectangle--bottom {
  bottom: 0;
  right: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.navbar .hamburger .rectangle--bottom.open {
  -webkit-transform: translateX(calc(-1 * var(--translate))) rotate(45deg);
          transform: translateX(calc(-1 * var(--translate))) rotate(45deg);
}

nav {
  overflow: hidden;
  position: fixed;
  z-index: 2;
  width: 66%;
  right: -110%;
  top: 0;
  background: var(--my-black);
  height: 100vh;
  padding: 1em;
  -webkit-transition: all 0.3s cubic-bezier(0.9, 0.02, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.9, 0.02, 0.58, 1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav ul.primary-nav {
  margin-top: 5em;
  padding: 0px;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .6em;
  font-size: 1.2em;
  text-align: left;
  font-family: 'inconsolata', 'monospace';
  font-stretch: ultra-condensed;
}

nav li a:hover {
  font-weight: bold;
}

nav.open {
  right: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero {
  overflow: hidden;
  text-align: center;
  background-image: url("/image/hero4.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -12vh;
  height: 100%;
  width: 100%;
}

.left-col {
  overflow: hidden;
  width: 100%;
}

.left-col h1 {
  color: var(--my-black);
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  padding: 20vh 0px 0px 0px;
  font-size: 2.5em;
  letter-spacing: .1em;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--my-black);
  letter-spacing: .3em;
  font-size: .7em;
}

.left-col .hero-cta {
  padding: 50vh 0px 0px 0px;
}

.left-col .problem-cta {
  padding: 20vh 0px 0px 0px;
  background: var(--my-black);
  color: white;
  text-decoration: none;
  padding: .3em 7em;
  font-size: 1em;
  border-radius: 5em;
  display: inline-block;
  letter-spacing: .1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.left-col .decision-cta {
  display: block;
  margin-top: 1em;
  background: white;
  color: var(--my-black);
  text-decoration: none;
  padding: .3em 6.9em;
  font-size: 1em;
  border-radius: 5em;
  display: inline-block;
  letter-spacing: .1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 3em;
}

section.abstract {
  overflow: hidden;
  margin-top: 10em;
  margin-bottom: 10em;
  padding: 1em;
  text-align: center;
}

section.abstract h1.abstract {
  font-size: 5em;
  color: white;
  font-family: 'inconsolata', 'monospace';
  margin: 0;
  text-align: center;
}

section.abstract p.text {
  color: white;
  text-align: center;
  font-size: 1em;
}

section.waste-path {
  overflow: hidden;
  background: var(--my-black);
}

section.waste-path ul {
  width: 100%;
  padding: .5em;
  margin: 0;
}

section.waste-path h2.our-process {
  font-size: 3em;
  color: white;
  font-family: 'inconsolata', 'monospace';
  padding: 2em 0em 2em 0em;
  margin: 0;
  text-align: left;
}

section.waste-path .collection {
  text-align: center;
  background-color: #303030;
  border-radius: .2em;
}

section.waste-path .collection h2.collection-header {
  padding-top: .7em;
  padding-left: .5em;
  font-size: 2em;
  color: white;
  font-family: 'inconsolata', 'monospace';
  margin: 0;
  text-align: left;
}

section.waste-path .collection img {
  height: 10em;
  -o-object-fit: fill;
     object-fit: fill;
  margin: 3em 1em 1em 1em;
}

section.waste-path .collection .collection-text {
  color: white;
  text-align: left;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

section.waste-path .collection .collection-text .dual {
  font-weight: bold;
}

section.waste-path .collection .show-collection {
  display: none;
}

section.waste-path .collection .collection-text.show-more .show-collection {
  display: inline;
}

section.waste-path .collection button.showMoreBtn {
  margin: 1em 0em 1em 15em;
  padding: .5em 2em;
  background-color: var(--my-blue);
  color: white;
  border: none;
  outline: none;
  font-size: .8em;
  cursor: pointer;
  border-radius: 3em;
}

section.waste-path .transportation {
  background-color: #303030;
  border-radius: .2em;
  margin: 5em auto 5em auto;
  text-align: center;
}

section.waste-path .transportation h2.transportation-header {
  padding-top: .7em;
  padding-left: .5em;
  font-size: 2em;
  color: white;
  font-family: 'inconsolata', 'monospace';
  margin: 0px 0px 1em 0px;
  text-align: left;
}

section.waste-path .transportation iframe {
  width: 100%;
  height: 300px;
}

section.waste-path .transportation .transportation-text {
  color: white;
  text-align: left;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

section.waste-path .transportation .show-transportation {
  display: none;
}

section.waste-path .transportation .transportation-text.show-more .show-transportation {
  display: inline;
}

section.waste-path .transportation button.colShowMoreBtn {
  margin: 1em 0em 1em 15em;
  padding: .5em 2em;
  background-color: var(--my-blue);
  color: white;
  border: none;
  outline: none;
  font-size: .8em;
  cursor: pointer;
  border-radius: 3em;
}

section.waste-path .sorting-exporting {
  overflow: hidden;
  background-color: #303030;
  border-radius: .2em;
  margin: 5em auto 5em auto;
  text-align: center;
}

section.waste-path .sorting-exporting h2.sorting {
  padding-top: .7em;
  font-size: 2em;
  color: white;
  font-family: 'inconsolata', 'monospace';
  margin: 0px 0px 1em 0px;
  text-align: center;
}

section.waste-path .sorting-exporting img {
  height: 100%;
  width: 100%;
}

section.waste-path .sorting-exporting .sorting-text {
  color: white;
  text-align: left;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

section.waste-path .sorting-exporting .show-sorting {
  display: none;
}

section.waste-path .sorting-exporting .sorting-text.show-more .show-sorting {
  display: inline;
}

section.waste-path .sorting-exporting button.sortingBtn {
  margin: 1em 0em 1em 15em;
  padding: .5em 2em;
  background-color: var(--my-blue);
  color: white;
  border: none;
  outline: none;
  font-size: .8em;
  cursor: pointer;
  border-radius: 3em;
}

section.the-problem {
  overflow: hidden;
  color: white;
  margin-bottom: 8em;
  font-family: 'Raleway', sans-serif;
}

section.the-problem h1.problem {
  font-size: 3em;
  font-family: 'inconsolata', 'monospace';
  margin: 0;
  padding: 2em 0em 1em 0em;
  text-align: left;
}

section.the-problem ul {
  padding: 0px 2em;
}

section.the-problem li.in-house {
  border-style: solid;
  border-color: var(--my-green);
  text-align: left;
  margin: 0 auto 1em auto;
  padding: 0px 1em 0px 1em;
  border-radius: .2em;
}

section.the-problem li.in-house h2 {
  font-family: 'inconsolata', 'monospace';
  font-size: 1.5em;
  margin-bottom: .6em;
}

section.the-problem li.in-house p {
  margin-top: 0px;
  font-size: 1em;
}

section.the-problem li.excess {
  border-style: solid;
  border-color: var(--my-blue);
  text-align: left;
  margin: 0 auto 1em auto;
  padding: 0px 1em 0px 1em;
  border-radius: .2em;
}

section.the-problem li.excess h2 {
  font-family: 'inconsolata', 'monospace';
  font-size: 1.5em;
  margin-bottom: .6em;
}

section.the-problem li.excess p {
  margin-top: 0px;
}

section.the-problem li.info {
  border-style: solid;
  border-color: var(--my-green);
  margin: 0 auto 1em auto;
  padding: 0px 1em 1em 1em;
  border-radius: .2em;
}

section.the-problem li.info h2 {
  font-family: 'inconsolata', 'monospace';
  font-size: 1.5em;
}

section.the-problem li.info img {
  width: 5em;
  height: 5em;
  margin: 1em 6em -2em 6em;
  border-radius: 5em;
  border: 2px solid #414141;
}

section.the-problem li.info blockquote {
  padding: 3em 2em 2em 2em;
  margin: 0px 0px 2em 0px;
  background: #303030;
  border-radius: 1em;
}

section.the-problem .economics {
  margin: 15em 0px 8em 0px;
}

section.the-problem .economics h2.sword {
  font-family: 'inconsolata', 'monospace';
  font-size: 2em;
  margin: 0;
}

section.the-problem .economics .swordText {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

section.the-problem .economics .moreText {
  display: none;
}

section.the-problem .economics button.swordBtn {
  margin-left: 50vw;
  padding: 1em 2em;
  background-color: var(--my-blue);
  color: white;
  border: none;
  outline: none;
  font-size: .8em;
  cursor: pointer;
  border-radius: 3em;
}

section.the-problem .economics .swordText.show-more .moreText {
  display: inline;
}

section.the-problem .economics .swordText.show-more .dots {
  display: none;
}

section.upgrades {
  overflow: hidden;
  background: var(--my-black);
  color: white;
  margin: 12em 0px 8em 0px;
  font-family: 'Raleway', sans-serif;
}

section.upgrades ul {
  width: 100%;
  padding: .5em;
  margin: 0;
}

section.upgrades h2.upgrades-header {
  font-size: 3em;
  font-family: 'inconsolata', 'monospace';
  margin: 0;
  padding: 2em 0em 1em 0px;
}

section.upgrades .quote {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.upgrades .quote h2.quotes {
  font-family: 'Montagu Slab', serif;
  font-size: 5em;
  margin: 0;
}

section.upgrades .quote .block-text {
  margin: -1em 0px .3em 0px;
  font-size: 1.5em;
}

section.upgrades .quote cite {
  padding: 0px 0px 0px 11em;
}

section.upgrades li.bottleReturns {
  margin: 5em 0px 8em 0px;
  background-color: #303030;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid var(--my-green);
  border-radius: .2em;
}

section.upgrades li.bottleReturns h2.pFand {
  font-size: 2em;
  font-family: 'inconsolata', 'monospace';
  padding: 1em 0px 0px 0px;
  margin-bottom: 2em;
  text-align: center;
}

section.upgrades li.bottleReturns .button {
  margin: 0em auto 0em 10em;
  text-decoration: none;
  padding: .5em 2em;
  background-color: var(--my-green);
  color: white;
  border: none;
  outline: none;
  font-size: .8em;
  cursor: pointer;
  border-radius: 3em;
  cursor: pointer;
}

section.upgrades li.bottleReturns canvas {
  margin-top: 0em;
  margin-bottom: 2em;
  pointer-events: none;
  width: 100%;
}

section.upgrades li.bottleReturns h3.benefits {
  font-family: 'inconsolata', 'monospace';
  font-size: 2em;
  text-align: left;
  padding-left: .5em;
}

section.upgrades li.bottleReturns .benText {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 6em;
}

section.upgrades li.bottleReturns .benText .bold {
  font-weight: bold;
}

section.upgrades li.bottleReturns h3.drawBack {
  font-family: 'inconsolata', 'monospace';
  font-size: 2em;
  text-align: left;
  padding-left: .5em;
}

section.upgrades li.bottleReturns .drawText {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

section.upgrades li.bottleReturns .drawText .bold {
  font-weight: bold;
}

section.upgrades li.bottleReturns .drawText a {
  cursor: pointer;
  -webkit-text-decoration: underline var(--my-green);
          text-decoration: underline var(--my-green);
  color: white;
}

section.upgrades li.education {
  margin: 5em 0px 8em 0px;
  background-color: #303030;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid var(--my-blue);
  border-radius: .2em;
}

section.upgrades li.education h2.awarenessHeader {
  font-size: 2em;
  font-family: 'inconsolata', 'monospace';
  padding: 1em 0px 0px .5em;
  margin-bottom: 2em;
  text-align: left;
}

section.upgrades li.education h3 {
  font-family: 'inconsolata', 'monospace';
  font-size: 2em;
  text-align: left;
  padding-left: .5em;
}

section.upgrades li.education .benText {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

section.upgrades li.education .benText .bold {
  font-weight: bold;
}

section.upgrades li.education .benText a {
  cursor: pointer;
  -webkit-text-decoration: underline var(--my-green);
          text-decoration: underline var(--my-green);
  color: white;
}

section.upgrades li.education .drawText {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

section.upgrades li.education .drawText .bold {
  font-weight: bold;
}

section.upgrades li.education .drawText a {
  -webkit-text-decoration: underline var(--my-green);
          text-decoration: underline var(--my-green);
  color: white;
}

section.mySolutionHeader {
  overflow: hidden;
  background: var(--my-black);
  color: white;
  margin: 12em 0px 8em 0px;
  font-family: 'Raleway', sans-serif;
}

section.mySolutionHeader .container {
  text-align: center;
  background-image: url("/image/endingImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  margin-bottom: 10em;
}

section.mySolutionHeader h1.solution {
  font-size: 3.2em;
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  padding: 2em 0em 1em 0px;
  text-align: center;
}

section.mySolutionHeader .rec {
  margin-top: 31em;
  background-color: var(--my-black);
  opacity: .8;
  border-radius: .1em;
}

section.mySolutionHeader .rec .why {
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
}

section.whyThis {
  overflow: hidden;
}

section.whyThis h1.header {
  font-size: 3em;
  font-family: 'inconsolata', 'monospace';
  padding: 1em 0px 0px .5em;
  margin-bottom: 1em;
  text-align: left;
  color: white;
}

section.whyThis .text {
  color: white;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

section.mySolutionBody {
  overflow: hidden;
  margin: 8em 0px 8em 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.mySolutionBody h2 {
  font-family: 'inconsolata', 'monospace';
  font-size: 2em;
  text-align: left;
  padding: .5em 0em .5em .5em;
  color: white;
}

section.mySolutionBody h2.goals {
  background-color: #303030;
  margin-bottom: 0;
}

section.mySolutionBody ul.goals-list {
  margin: 0;
  padding-bottom: 1em;
  background-color: #303030;
}

section.mySolutionBody ul.goals-list li {
  font-size: 1.1em;
  color: white;
  margin-bottom: 3.5em;
  position: relative;
}

section.mySolutionBody ul.goals-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("/image/bullet.svg");
  background-size: contain;
  margin-right: .5em;
}

section.mySolutionBody ul.access {
  margin-top: 10em;
  padding: .5em;
}

section.mySolutionBody ul.access img {
  width: 100%;
}

section.mySolutionBody ul.access .text {
  color: white;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 3em;
}

section.mySolutionBody ul.access .subText {
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: .6em;
  padding-left: 1em;
  padding-right: 1em;
}

section.mySolutionBody ul.poster {
  margin-top: 10em;
  padding: .5em;
}

section.mySolutionBody ul.poster h2.header {
  font-family: 'inconsolata', 'monospace';
  font-size: 2em;
  text-align: left;
  padding: .5em 0em .5em .5em;
  color: white;
}

section.mySolutionBody ul.poster h2.image {
  display: none;
}

section.mySolutionBody ul.poster ul {
  display: none;
}

section.mySolutionBody ul.poster .text {
  color: white;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

section.mySolutionBody ul.poster .text .mega {
  display: none;
}

section.mySolutionBody ul.poster .container {
  display: none;
}

section.citations {
  overflow: hidden;
  margin-top: 25em;
  padding: .5em;
  overflow-x: hidden;
}

section.citations .header {
  font-family: 'inconsolata', 'monospace';
  font-size: 2em;
  text-align: left;
  padding: .5em 0em .5em .5em;
  color: white;
}

section.citations ul {
  position: relative;
  margin-top: 1em;
  padding: .5em;
}

section.citations ul li {
  margin-left: 1em;
  margin-bottom: 3em;
  color: white;
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: block;
}

section.citations ul li a {
  font-weight: bold;
  color: white;
  -webkit-text-decoration: underline 3px var(--my-green);
          text-decoration: underline 3px var(--my-green);
  cursor: pointer;
}

section.citations ul li:before {
  content: '';
  left: -1em;
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: white;
  background-size: contain;
  margin-right: .5em;
  border-radius: 5em;
  margin-top: .4em;
}

.created .container {
  text-align: center;
}

.created h1 {
  color: var(--my-green);
  text-align: center;
  margin: 0;
}

.created svg {
  width: 100px;
  height: 100px;
  margin: 1em;
}

.created h2 {
  font-size: 1em;
  color: var(--my-green);
  margin: .2em;
}

@media only screen and (min-width: 1080px) {
  .left-col h1 {
    font-size: 4em;
  }
  .left-col .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--my-black);
    letter-spacing: .5em;
    font-size: 1em;
  }
  .left-col .problem-cta {
    margin-right: 3em;
  }
  .left-col .decision-cta {
    margin-left: 3em;
  }
  nav {
    width: 30%;
  }
  nav ul.primary-nav {
    margin-top: 5em;
    padding: 0px;
  }
  nav li a {
    font-size: 2em;
    text-align: left;
  }
  section.abstract .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.abstract h1.abstract {
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    font-size: 8em;
    color: white;
    font-family: 'inconsolata', 'monospace';
    margin: 0;
    text-align: center;
  }
  section.abstract p.text {
    padding: 0em 20em 0 4em;
    color: white;
    text-align: left;
    font-size: 1em;
    margin-top: 12em;
    margin-bottom: 12em;
    background: var(--my-black);
  }
  section.waste-path {
    margin-bottom: 10em;
  }
  section.waste-path h2.our-process {
    margin-left: 2em;
    font-size: 5em;
  }
  section.waste-path .collection {
    background-color: #202020;
    margin: 0 auto;
    text-align: center;
    border-radius: .2em;
    width: 70%;
  }
  section.waste-path .collection h2.collection-header {
    padding-top: .7em;
    padding-left: .5em;
    font-size: 2em;
    color: white;
    font-family: 'inconsolata', 'monospace';
    margin: 0;
    text-align: left;
  }
  section.waste-path .collection img {
    height: 12em;
  }
  section.waste-path .collection .collection-text {
    color: white;
    text-align: left;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
  }
  section.waste-path .collection .collection-text .dual {
    font-weight: bold;
  }
  section.waste-path .collection .show-collection {
    display: inline;
  }
  section.waste-path .collection button.showMoreBtn {
    display: none;
  }
  section.waste-path .transportation {
    background-color: #202020;
    border-radius: .2em;
    width: 70%;
    margin: 5em auto 5em auto;
    text-align: center;
  }
  section.waste-path .transportation h2.transportation-header {
    padding-top: .7em;
    padding-left: .5em;
    font-size: 2em;
    color: white;
    font-family: 'inconsolata', 'monospace';
    margin: 0px 0px 1em 0px;
    text-align: left;
  }
  section.waste-path .transportation iframe {
    width: 100%;
    height: 300px;
  }
  section.waste-path .transportation .transportation-text {
    color: white;
    text-align: left;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
  }
  section.waste-path .transportation .show-transportation {
    display: inline;
  }
  section.waste-path .transportation button.colShowMoreBtn {
    display: none;
  }
  section.waste-path .sorting-exporting {
    background-color: #202020;
    border-radius: .2em;
    width: 70%;
    margin: 5em auto 5em auto;
    text-align: center;
  }
  section.waste-path .sorting-exporting h2.sorting {
    padding-top: .7em;
    font-size: 2em;
    color: white;
    font-family: 'inconsolata', 'monospace';
    margin: 0px 0px 1em 0px;
    text-align: center;
  }
  section.waste-path .sorting-exporting img {
    height: 60vh;
    width: 90vh;
  }
  section.waste-path .sorting-exporting .sorting-text {
    color: white;
    text-align: left;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
  }
  section.waste-path .sorting-exporting .show-sorting {
    display: inline;
  }
  section.waste-path .sorting-exporting .sorting-text.show-more .show-sorting {
    display: inline;
  }
  section.waste-path .sorting-exporting button.sortingBtn {
    display: none;
  }
  section.the-problem {
    color: white;
    margin-bottom: 8em;
    font-family: 'Raleway', sans-serif;
  }
  section.the-problem h1.problem {
    font-size: 5em;
    font-family: 'inconsolata', 'monospace';
    margin: 0 0 0 1em;
    padding: 2em 0em 1em 0em;
    text-align: left;
  }
  section.the-problem ul {
    padding: 0px 2em;
  }
  section.the-problem li.in-house {
    border-style: solid;
    border-color: var(--my-green);
    text-align: left;
    margin: 0 auto 2em auto;
    padding: 0px 1em 0px 1em;
    border-radius: .2em;
    width: 70%;
  }
  section.the-problem li.in-house h2 {
    font-family: 'inconsolata', 'monospace';
    font-size: 1.5em;
    margin-bottom: .6em;
  }
  section.the-problem li.in-house p {
    margin-top: 0px;
    font-size: 1em;
  }
  section.the-problem li.excess {
    border-style: solid;
    border-color: var(--my-blue);
    text-align: left;
    margin: 0 auto 2em auto;
    padding: 0px 1em 0px 1em;
    border-radius: .2em;
    width: 70%;
  }
  section.the-problem li.excess h2 {
    font-family: 'inconsolata', 'monospace';
    font-size: 1.5em;
    margin-bottom: .6em;
  }
  section.the-problem li.excess p {
    margin-top: 0px;
  }
  section.the-problem li.info {
    border-style: solid;
    border-color: var(--my-green);
    margin: 0 auto 1em auto;
    padding: 0px 1em 1em 1em;
    border-radius: .2em;
    width: 70%;
  }
  section.the-problem li.info h2 {
    font-family: 'inconsolata', 'monospace';
    font-size: 1.5em;
  }
  section.the-problem li.info img {
    width: 10em;
    height: 10em;
    margin: 1em 3em -2em 25em;
    border-radius: 5em;
    border: 2px solid #303030;
  }
  section.the-problem li.info blockquote {
    padding: 3em 2em 2em 2em;
    margin: 0px 0px 2em 0px;
    background: #303030;
    border-radius: 1em;
  }
  section.the-problem .economics {
    margin: 25em 3em 8em 3em;
  }
  section.the-problem .economics h2.sword {
    font-family: 'inconsolata', 'monospace';
    font-size: 2em;
    margin: 0;
  }
  section.the-problem .economics .swordText {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
  }
  section.the-problem .economics .moreText {
    display: inline;
  }
  section.the-problem .economics button.swordBtn {
    display: none;
  }
  section.the-problem .economics .swordText.show-more .moreText {
    display: inline;
  }
  section.the-problem .economics .swordText.dots {
    display: none;
  }
  section.upgrades {
    background: var(--my-black);
    color: white;
    margin: 20em 0px 8em 0px;
    font-family: 'Raleway', sans-serif;
  }
  section.upgrades ul {
    width: 100%;
    padding: .5em;
    margin: 0;
  }
  section.upgrades h2.upgrades-header {
    font-size: 5em;
    font-family: 'inconsolata', 'monospace';
    margin: 0 0 0 1em;
    padding: 2em 0em 1em 0em;
    text-align: left;
  }
  section.upgrades li.bottleReturns {
    display: block;
    margin: 5em auto 8em auto;
    background-color: #303030;
    text-align: center;
    border: 2px solid var(--my-green);
    border-radius: .2em;
    width: 80%;
  }
  section.upgrades li.bottleReturns .container {
    width: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.upgrades li.bottleReturns h2.pFand {
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .2em;
    padding: 1em 0px 0px 0px;
    margin-bottom: 2em;
    text-align: center;
  }
  section.upgrades li.bottleReturns .button {
    position: absolute;
    margin-left: 20vw;
    margin-right: auto;
    text-decoration: none;
    padding: .5em 2em;
    background-color: var(--my-green);
    color: white;
    border: none;
    outline: none;
    font-size: .8em;
    cursor: pointer;
    border-radius: 3em;
  }
  section.upgrades li.bottleReturns canvas {
    position: relative;
    margin: 0em auto 2em auto;
    text-align: center;
    pointer-events: none;
    width: 60%;
  }
  section.upgrades li.bottleReturns h3.benefits {
    font-family: 'inconsolata', 'monospace';
    font-size: 2em;
    text-align: left;
    padding-left: .5em;
  }
  section.upgrades li.bottleReturns .benText {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 6em;
  }
  section.upgrades li.bottleReturns .benText .bold {
    font-weight: bold;
  }
  section.upgrades li.bottleReturns h3.drawBack {
    font-family: 'inconsolata', 'monospace';
    font-size: 2em;
    text-align: left;
    padding-left: .5em;
  }
  section.upgrades li.bottleReturns .drawText {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }
  section.upgrades li.bottleReturns .drawText .bold {
    font-weight: bold;
  }
  section.upgrades li.bottleReturns .drawText a {
    cursor: pointer;
    -webkit-text-decoration: underline var(--my-green);
            text-decoration: underline var(--my-green);
    color: white;
  }
  section.upgrades li.education {
    margin: 5em auto 8em auto;
    background-color: #303030;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid var(--my-blue);
    border-radius: .2em;
    width: 80%;
    text-align: center;
  }
  section.upgrades li.education h2.awarenessHeader {
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .2em;
    padding: 1em 0px 0px .5em;
    margin-bottom: 2em;
    text-align: center;
  }
  section.upgrades li.education h3 {
    font-family: 'inconsolata', 'monospace';
    font-size: 2em;
    text-align: left;
    padding-left: .5em;
  }
  section.upgrades li.education .benText {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 8em;
  }
  section.upgrades li.education .benText .bold {
    font-weight: bold;
  }
  section.upgrades li.education .benText a {
    cursor: pointer;
    -webkit-text-decoration: underline var(--my-green);
            text-decoration: underline var(--my-green);
    color: white;
  }
  section.upgrades li.education .drawText {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }
  section.upgrades li.education .drawText .bold {
    font-weight: bold;
  }
  section.upgrades li.education .drawText a {
    -webkit-text-decoration: underline var(--my-green);
            text-decoration: underline var(--my-green);
    color: white;
  }
  section.upgrades .quote {
    margin: 25em 0 0 26vw;
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section.upgrades .quote h2.quotes {
    font-family: 'Montagu Slab', serif;
    font-size: 5em;
    margin: 0;
    padding-left: .2em;
  }
  section.upgrades .quote .block-text {
    margin: -1em 0px .3em 0px;
    font-size: 1.5em;
  }
  section.upgrades .quote cite {
    padding: 0px 0px 0px 25em;
  }
  section.mySolutionHeader {
    background: var(--my-black);
    color: white;
    margin: 35em 0px 8em 0px;
    font-family: 'Raleway', sans-serif;
  }
  section.mySolutionHeader .container {
    text-align: center;
    background-image: url("/image/endingImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    margin-bottom: 10em;
  }
  section.mySolutionHeader h1.solution {
    font-size: 5em;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .1em;
    margin: 0;
    padding: 2em 0em 1em 0px;
    text-align: center;
  }
  section.mySolutionHeader .rec {
    width: 40%;
    margin: 30em auto 0em auto;
    background-color: ver(--my-black);
    border-radius: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  section.mySolutionHeader .rec .why {
    text-align: center;
    color: white;
    padding: 1em;
    text-align: left;
  }
  section.whyThis h1.header {
    font-size: 3em;
    font-family: 'inconsolata', 'monospace';
    padding: 1em 0px 0px .5em;
    margin-bottom: 1em;
    text-align: left;
    color: white;
  }
  section.whyThis .text {
    color: white;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }
  section.mySolutionBody {
    margin: 8em auto 8em auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.mySolutionBody .container {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.mySolutionBody h2 {
    font-family: 'inconsolata', 'monospace';
    font-size: 2em;
    text-align: left;
    padding: .5em 0em .5em .5em;
    color: white;
  }
  section.mySolutionBody h2.goals {
    font-size: 2.5em;
    background-color: #303030;
    margin-bottom: 0;
    padding-bottom: 2em;
  }
  section.mySolutionBody ul.goals-list {
    margin: 0;
    padding-bottom: 1em;
    background-color: #303030;
  }
  section.mySolutionBody ul.goals-list li {
    font-size: 1.1em;
    color: white;
    margin-bottom: 3.5em;
    position: relative;
  }
  section.mySolutionBody ul.goals-list li:before {
    content: '';
    left: -2em;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("/image/bullet.svg");
    background-size: contain;
    margin-right: .5em;
    margin-right: 20vw;
  }
  section.mySolutionBody ul.access {
    margin-top: 10em;
    padding: .5em;
    text-align: center;
  }
  section.mySolutionBody ul.access h2.accessHeader {
    font-family: 'inconsolata', 'monospace';
    font-size: 4em;
    margin-bottom: 0;
  }
  section.mySolutionBody ul.access img {
    width: 40%;
    margin-top: 1em;
  }
  section.mySolutionBody ul.access .text {
    background-color: #303030;
    color: white;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 2em;
    margin-bottom: 3em;
    border-radius: 1em;
  }
  section.mySolutionBody ul.access .subText {
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: .6em;
    padding-left: 1em;
    padding-right: 1em;
  }
  section.mySolutionBody ul.poster {
    margin-top: 10em;
    padding: .5em;
  }
  section.mySolutionBody ul.poster h2.header {
    font-family: 'inconsolata', 'monospace';
    font-size: 4em;
    text-align: left;
    padding: .5em 0em 0em .5em;
    color: white;
  }
  section.mySolutionBody ul.poster .text {
    background-color: #303030;
    color: white;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 2em;
    border-radius: 1em;
  }
  section.mySolutionBody ul.poster .text .mega {
    display: inline;
  }
  section.mySolutionBody ul.poster .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  section.mySolutionBody ul.poster img {
    padding: 1em;
    width: 25vw;
    height: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 2em;
  }
  section.mySolutionBody ul.poster p.cite {
    display: block;
    text-align: center;
    margin-top: 0;
  }
  section.mySolutionBody ul.poster h2.image {
    display: block;
    margin-top: 0;
    font-family: 'inconsolata', 'monospace';
    font-size: .7em;
    text-align: center;
    padding: .5em 0em 0em .5em;
    color: white;
  }
  section.mySolutionBody ul.poster ul {
    display: block;
    text-align: center;
    padding: 0;
  }
  section.mySolutionBody ul.poster ul a {
    font-size: .5em;
    -webkit-text-decoration: underline 2px;
            text-decoration: underline 2px;
    color: white;
    padding: 1em;
  }
  section.citations .container {
    margin-top: 20em;
    width: 100%;
    padding: .5em;
  }
  section.citations .header {
    font-size: 5em;
    text-align: left;
    padding-left: .1em;
  }
  .created .container {
    text-align: center;
  }
  .created h1 {
    color: var(--my-green);
    text-align: center;
    margin: 0;
  }
  .created svg {
    width: 100px;
    height: 100px;
    margin: 1em;
  }
  .created h2 {
    font-size: 1em;
    color: var(--my-green);
    margin: .2em;
  }
}
/*# sourceMappingURL=main.css.map */